/* YourComponent.css */

/* CSS Variables */
:root {
  --color-toggle: #1bc8e2;
  --hover: #005e86;
}

/* Global Styles */
body {
  background-color: #ede9fe;
  display: flex;
  justify-content: center;
}

img {
  height: 26em;
}

/* Button Styles */
button {
  cursor: pointer;
  background: none;
  border: 2px solid transparent;
  color: black;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: border-color 0.25s, color 0.25s;
}

button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}

.toggle {
  box-shadow: 0.3em 0.3em 0 0 var(--color-toggle),
    inset 0.3em 0.3em 0 0 var(--color-toggle);
}

.toggle:hover,
.toggle:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
